<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.andytan07.alfred-notitools</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>006689D9-0243-4404-9A25-358936799B85</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A0F5B135-A242-4C6E-9BE3-97F2B56506BF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2247EB38-D492-451B-85ED-B28E2E1D0446</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CDEA00E7-9FB7-47E1-B1DC-FCAE1F7A440C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2255204F-B2D1-4EEA-AC23-712758CDFB2E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>006689D9-0243-4404-9A25-358936799B85</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>DA9FDC9D-CB5B-47FA-9CBF-237C0E683BB2</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A0F5B135-A242-4C6E-9BE3-97F2B56506BF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>22738FF8-3814-418E-9E0B-5C2F37B2829F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DB77A97A-F423-4C90-8289-93ADB62684B5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>2FD92B61-494B-423A-BD73-A757FF1F7F4B</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>36ED2840-F648-4288-AAF6-B60E3477AFE8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2255204F-B2D1-4EEA-AC23-712758CDFB2E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7E937792-4763-46CC-BC0B-F1A834237996</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>36ED2840-F648-4288-AAF6-B60E3477AFE8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9F18FA2D-B160-41DC-B0D5-C344843C86D8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CDEA00E7-9FB7-47E1-B1DC-FCAE1F7A440C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A0F5B135-A242-4C6E-9BE3-97F2B56506BF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2247EB38-D492-451B-85ED-B28E2E1D0446</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>B14C5BD8-F195-465D-8793-6D471053560A</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CDEA00E7-9FB7-47E1-B1DC-FCAE1F7A440C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>22738FF8-3814-418E-9E0B-5C2F37B2829F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DB77A97A-F423-4C90-8289-93ADB62684B5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F4F87E02-D239-4A7F-9FC1-9801D549764D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>EEFE7377-0D54-434B-8603-C74D60855BC7</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F070395C-B6A2-442C-9FCE-4E6281824E9D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>006689D9-0243-4404-9A25-358936799B85</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7E937792-4763-46CC-BC0B-F1A834237996</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Clear notification</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F3D545FE-5167-411D-9EEA-15B65D9CCF78</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9F18FA2D-B160-41DC-B0D5-C344843C86D8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F4F87E02-D239-4A7F-9FC1-9801D549764D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>262EDF96-C380-4247-A40F-D6F7E42EE08B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Andy Tan</string>
	<key>description</key>
	<string>Handling macOS Notification Center</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Noti Tools</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>keychar</key>
				<string>n</string>
				<key>keycode</key>
				<integer>-1</integer>
				<key>keymod</key>
				<integer>1966080</integer>
				<key>overridewithargument</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>006689D9-0243-4404-9A25-358936799B85</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>noti</string>
				<key>subtext</key>
				<string>Show macOS notification center</string>
				<key>text</key>
				<string>Open Notification Center</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>F070395C-B6A2-442C-9FCE-4E6281824E9D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>seconds</key>
				<string>{var:close_noti_delay}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.delay</string>
			<key>uid</key>
			<string>F4F87E02-D239-4A7F-9FC1-9801D549764D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:close_after_clear}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>5</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>Close</string>
						<key>uid</key>
						<string>EEFE7377-0D54-434B-8603-C74D60855BC7</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Keep open</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>DB77A97A-F423-4C90-8289-93ADB62684B5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>try {

Application('System Events')
  .applicationProcesses
  .byName('NotificationCenter')
  .windows.length &gt; 0;

} catch (err) {
  false;
}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>7</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>36ED2840-F648-4288-AAF6-B60E3477AFE8</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>6</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>Open notification center</string>
						<key>uid</key>
						<string>DA9FDC9D-CB5B-47FA-9CBF-237C0E683BB2</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Skip</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>2255204F-B2D1-4EEA-AC23-712758CDFB2E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>seconds</key>
				<string>0.5</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.delay</string>
			<key>uid</key>
			<string>2247EB38-D492-451B-85ED-B28E2E1D0446</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>clear_noti</key>
					<string>true</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>7E937792-4763-46CC-BC0B-F1A834237996</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:clear_noti}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>5</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>clear</string>
						<key>uid</key>
						<string>B14C5BD8-F195-465D-8793-6D471053560A</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>skip</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>A0F5B135-A242-4C6E-9BE3-97F2B56506BF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>keychar</key>
				<string>⎋</string>
				<key>keycode</key>
				<integer>53</integer>
				<key>keymod</key>
				<integer>0</integer>
				<key>overridewithargument</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>262EDF96-C380-4247-A40F-D6F7E42EE08B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>Application("System Events")
  .applicationProcesses.byName("NotificationCenter")
  .windows[0]
  .groups[0]
  .groups[0]
  .scrollAreas[0]
  .uiElements[0]
  .buttons()
  .map(banner =&gt; banner.actions().slice(-1)[0])
  .forEach(banner =&gt; banner.perform())</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>7</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>CDEA00E7-9FB7-47E1-B1DC-FCAE1F7A440C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:direct_clear}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>6</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>Further check close noti center</string>
						<key>uid</key>
						<string>2FD92B61-494B-423A-BD73-A757FF1F7F4B</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Skip</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>22738FF8-3814-418E-9E0B-5C2F37B2829F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>noticlear</string>
				<key>subtext</key>
				<string>Clear all visible notification</string>
				<key>text</key>
				<string>Clear Notification</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>F3D545FE-5167-411D-9EEA-15B65D9CCF78</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>direct_clear</key>
					<string>true</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>9F18FA2D-B160-41DC-B0D5-C344843C86D8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>## Noti Tools

A workflow that I have created to handle macOS notification center, inspired by [Banner Be Gone](https://alfred.app/workflows/alfredapp/banner-be-gone/)

&gt; There's a known issue where use `noti` + ⌘ when a new notification appear, notification center would not open up

## Usage

`noti` - Show notification center

`noti` + ⌘ - Clear notifications (will open notification center to clear notifications)

`noticlear` - Clear visible notifications only (Same behaviour as Banner Be Gone).</string>
	<key>uidata</key>
	<dict>
		<key>006689D9-0243-4404-9A25-358936799B85</key>
		<dict>
			<key>xpos</key>
			<real>1000</real>
			<key>ypos</key>
			<real>240</real>
		</dict>
		<key>2247EB38-D492-451B-85ED-B28E2E1D0446</key>
		<dict>
			<key>xpos</key>
			<real>1465</real>
			<key>ypos</key>
			<real>470</real>
		</dict>
		<key>2255204F-B2D1-4EEA-AC23-712758CDFB2E</key>
		<dict>
			<key>xpos</key>
			<real>740</real>
			<key>ypos</key>
			<real>460</real>
		</dict>
		<key>22738FF8-3814-418E-9E0B-5C2F37B2829F</key>
		<dict>
			<key>xpos</key>
			<real>1895</real>
			<key>ypos</key>
			<real>550</real>
		</dict>
		<key>262EDF96-C380-4247-A40F-D6F7E42EE08B</key>
		<dict>
			<key>xpos</key>
			<real>2500</real>
			<key>ypos</key>
			<real>520</real>
		</dict>
		<key>36ED2840-F648-4288-AAF6-B60E3477AFE8</key>
		<dict>
			<key>xpos</key>
			<real>530</real>
			<key>ypos</key>
			<real>440</real>
		</dict>
		<key>7E937792-4763-46CC-BC0B-F1A834237996</key>
		<dict>
			<key>xpos</key>
			<real>390</real>
			<key>ypos</key>
			<real>470</real>
		</dict>
		<key>9F18FA2D-B160-41DC-B0D5-C344843C86D8</key>
		<dict>
			<key>xpos</key>
			<real>700</real>
			<key>ypos</key>
			<real>755</real>
		</dict>
		<key>A0F5B135-A242-4C6E-9BE3-97F2B56506BF</key>
		<dict>
			<key>xpos</key>
			<real>1310</real>
			<key>ypos</key>
			<real>475</real>
		</dict>
		<key>CDEA00E7-9FB7-47E1-B1DC-FCAE1F7A440C</key>
		<dict>
			<key>xpos</key>
			<real>1655</real>
			<key>ypos</key>
			<real>530</real>
		</dict>
		<key>DB77A97A-F423-4C90-8289-93ADB62684B5</key>
		<dict>
			<key>xpos</key>
			<real>2175</real>
			<key>ypos</key>
			<real>390</real>
		</dict>
		<key>F070395C-B6A2-442C-9FCE-4E6281824E9D</key>
		<dict>
			<key>xpos</key>
			<real>135</real>
			<key>ypos</key>
			<real>240</real>
		</dict>
		<key>F3D545FE-5167-411D-9EEA-15B65D9CCF78</key>
		<dict>
			<key>xpos</key>
			<real>130</real>
			<key>ypos</key>
			<real>720</real>
		</dict>
		<key>F4F87E02-D239-4A7F-9FC1-9801D549764D</key>
		<dict>
			<key>xpos</key>
			<real>2350</real>
			<key>ypos</key>
			<real>385</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<true/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Yes</string>
			</dict>
			<key>description</key>
			<string>Close notification center after clearing banners</string>
			<key>label</key>
			<string>Close notification center</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>close_after_clear</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>1</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Delay when closing notiication center</string>
			<key>label</key>
			<string>Delay (in seconds)</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>close_noti_delay</string>
		</dict>
	</array>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>0.1.0</string>
	<key>webaddress</key>
	<string>https://github.com/andytan07/alfred-notitools</string>
</dict>
</plist>
